<p>appointments-list works!</p>

<div class="container">
    <button (click)="goBack()">Back</button>
    <table class="table table-bordered table-striped">
        
        <thead>
            <!-- <th>id</th> -->
            <th>appointment_id</th>
            <th>appointment_date</th>
            <th>doctor_id</th>
            <th>specialisation_id</th>
            <th>patient_id</th>
            <th>token_no</th>
        </thead>
        <tbody>
            <tr *ngFor = "let p of appointmentsService.appointments">
                <!-- <td>{{ p.id }}</td> -->
                <td>{{p.appointment_id}}</td>
                <td>{{p.appointment_date}}</td>
                <td>{{p.doctor_name}}</td>
                <td>{{p.specialisation}}</td>
                <td>{{p.patient_id}}</td>
                <td>{{p.token_no}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger" (click)="editrecepBill(p)">Edit</button>
                    <button class="btn btn-info" style="margin-left: 10px" (click)="recepBill(p)">Generate Bill</button>
                </td>


            </tr>
        </tbody>
    </table>
</div>
