
<div class="container">
    <div class="jumbotron">
    <h1 class="display-4">WELCOME RECEPTIONIST</h1>
    <p>please select your option below</p>
    <hr>
</div>
<a [routerLink] = "['/patients/add']" role="button" class="btn btn-outline-secondary">
<span><i class="fa-solid fa-user-plus"></i>></span><br>
Add patients
</a>


<a [routerLink] = "['/patients/list']" role="button" class="btn btn-outline-secondary">
<span><i class="fa-solid fa-user-plus"></i>></span><br>
List patients
</a>

<a [routerLink] = "['/appointments/list']" role="button" class="btn btn-outline-secondary">
    <span><i class="fa-solid fa-user-plus"></i>></span><br>
    List Appointments
    </a>

    <a [routerLink] = "['/doctors/list']" role="button" class="btn btn-outline-secondary">
        <span><i class="fa-solid fa-user-plus"></i>></span><br>
        List Doctors
        </a>

    
    <a [routerLink] = "['/recepbills/list']" role="button" class="btn btn-outline-secondary">
        <span><i class="fa-solid fa-user-plus"></i>></span><br>
        Paid Bills
        </a>


</div>
<router-outlet></router-outlet>
