<p>recepbills-list works!</p>
<div class="container">
    <button (click)="goBack()">Back</button>
    <table class="table table-bordered table-striped"> 
        <thead>
            <th>Bill No</th>
            <th>Appointment Id</th>
            <th>patient Id</th>
            <th>doctor Id</th>
            <th>token No</th>
            <th>Bill Amount</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr *ngFor = "let p of recepbillsService.recepbills">
                <td>{{ p.id }}</td>
                <td>{{p.bill_no}}</td>
                <td>{{p.appointment_id}}</td>
                <td>{{p.patient_id}}</td>
                <td>{{p.doctor_name}}</td>
                <td>{{p.token_no}}</td>
                <td>{{p.bill_amount}}</td>
                <td>{{ p.status }}</td>
                <td>
                    <a [routerLink]="['/recepbills/detail',p.id]">
                    <!-- <button printSectionId="print-section" ngxPrint>print</button> -->
                    <button class="btn btn-sm btn-outline-danger">Print Bill</button>
                    </a>

                </td>
             </tr>
        </tbody>
    </table>
</div>