<p>recepbills-detail works!</p>
<!-- <div id="print-section" class="appointment-details-container" *ngIf="recepbills">
    <h2>Appointment Details</h2>
    <hr>
    <p>Bill No: {{ recepbills.bill_no }}</p>
    <p>Patient Name: {{ recepbills.patient_name }}</p>
    <p>Doctor Name: {{ appointment.doctor_name }}</p>
    <p>Date of Visit: {{ appointment.date_of_visit | date:'short' }}</p>
    <p>Token: {{ appointment.token }}</p>
    <p>Consultation Fee: {{ appointment.consultation_fee }} &#8377;</p>

    
</div> -->

